<meta name="description" lang="pl" content="
Sklep internetowy naklisze.pl oferuje duży wybór sprawdzonych aparatów analogowych, aparaty na kliszę i akcesoria do fotografii analogowej.
Aparaty analogowe, dalmierze, kompaktowe, półklatkowe. Najlepsze aparaty analogowe - Wrocław.
Jeśli chcesz kupić sprawdzony aparat analogowy, zapraszamy!" />

<meta name="description" lang="en" content="
The naklisze.pl online store offers a large selection of tested analog cameras and accessories for analog photography.
Rangefinders, compact-cameras, half-frame cameras and other. Welcome!" />

<meta name="description" lang="de" content="
Der Online-Shop naklisze.pl bietet eine große Auswahl an analogen Kameras und Zubehör für die analoge Fotografie.
Entfernungsmesser, Kompaktkameras, Halbbildkameras und andere. Willkommen!" />

<meta name="description" lang="pl" content="
Sklep internetowy naklisze.pl oferuje duży wybór sprawdzonych aparatów analogowych, aparaty na kliszę i akcesoria do fotografii analogowej.
Aparaty analogowe dalmierzowe, kompaktowe, półklatkowe i inne.
Jeśli chcesz kupić sprawdzony aparat analogowy - zapraszamy!" />