{% load i18n %}

<div class="fb-customerchat"
 page_id="299969757439630"
 minimized="true"
 logged_in_greeting="{% trans "Masz jakieś pytania?" %}"
     logged_out_greeting="{% trans "Zaloguj się na FB, aby z nami porozmawiać" %}">
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '912333495590130',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };
(function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


</script>